table {
  border: 1px solid gray;
  tr {
    height: 40px;
    &:hover {
      background: #dfdfdf;
    }
    td,th {
      min-width: 40px;
      &.content {
        width: auto;
        min-width: 100px;
      }
    }
    th:nth-child(1), th:nth-child(4) {
      width: 40px;
    }
  }
}
