<header class="header-inner">
  <div class="logo">
    <a href="#" class="logo-link">
      <img class="logo--image"
           src="https://via.placeholder.com/150x50/eeeeee/333333/?text=Logo"/>
    </a>
  </div>
  <div class="header-title">
    <h1>Welocme to Tripy</h1>
  </div>
  <div style="margin-left: auto;padding-right: 20px;">
    <nav class="nav">
      <a href="#" class="nav-link">Home</a>
      <a href="#" class="nav-link">About</a>
      <a href="#" class="nav-link">Contact</a>
      <span class="nav-image">
        <img src="https://1.gravatar.com/avatar/47db31bd2e0b161008607d84c74305b5?s=96&d=mm&r=g">
      </span>
    </nav>
  </div>
</header>
